<!DOCTYPE html>
<html>
	{{> head}}

	<body>
		{{> includes/header}}
		<div class="container" style="margin-top: 60px;">
			<div class="row">
				<div class="col-md-12">
				{{{ body }}}
				</div>
			</div>
		</div>
	</body>
</html>
