<h2>Add Account</h2>

<p>Select a SomaFM station and connect it with your Last.fm account. <br />Scrobbling will start with the next track.</p>

<form method="post" action="/addaccount">
	<div>
		<label for="field-station">Station</label>
		<select id="field-station" name="station">
		<% 
		var id;
		for (id in stations) { 
			if (stations.hasOwnProperty(id)) {
		%>
			<option value="<%= stations[id].stationId %>"><%= stations[id].stationName %></option>
		<%
			}
		}
		%>
		</select>
	</div>
	<div>
		<input type="hidden" id="field-description" name="description" value="" />
		<button type="submit">Authenticate</button>
	</div>
</form>
