<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Soma Scrobbler</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/base.css" />
	</head>

	<body class="">
		<div class="container">
			<%- body %>
		</div>
	</body>
</html>
