<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
		<title>SomaScrobbler</title>
	</head>

	<body>
		<div class="container">

			<div class="navbar navbar-default" role="navigation" style="margin-top: 20px;">
				<div class="navbar-header">
					<span class="navbar-brand">SomaScrobbler</span>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="<%= (nav == 'accounts') ? 'active' : '' %>"><a href="/">Accounts</a></li>
						<li class="<%= (nav == 'add-account') ? 'active' : '' %>"><a href="/add-account">Add account</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>

			<%- body %>

		</div> <!-- /container -->
	</body>
</html>
